<mat-grid-list cols="8" gutterSize="80px" rowHeight="430px">

    <mat-grid-tile colspan="3">
        <contacts-query (wantsToRequery)="requery($event)"></contacts-query>
    </mat-grid-tile>

    <mat-grid-tile colspan="5">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Tags</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let c of contacts">
                    <td>{{ c.firstName + " " + c.lastName }}</td>
                    <td>{{ c.tags.join(', ') }}</td>
                    <td>
                        <a routerLink="/contact/{{c.id}}">
                            <button mat-button color="primary">
                                Details
                            </button>                            
                        </a>
                        <button mat-button color="warn">
                            Delete
                        </button>
                    </td>
                </tr>    
            </tbody>
        </table>
    </mat-grid-tile>            

</mat-grid-list>

<a class="create-link" routerLink="/contacts/create">
    <button mat-raised-button color="primary">
        Create contact
    </button>
</a>