<mat-grid-list cols="8" gutterSize="40px" rowHeight="400px">

    <mat-grid-tile colspan="3">
        <contacts-query (wantsToRequery)="requery($event)"></contacts-query>
    </mat-grid-tile>

    <mat-grid-tile colspan="5">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Tags</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let c of contacts">
                    <td>{{ c.firstName + " " + c.lastName }}</td>
                    <td>{{ c.tags.join(', ') }}</td>
                    <td><a routerLink="/contact/{{c.id}}">Details</a></td>
                </tr>    
            </tbody>
        </table>
    </mat-grid-tile>            

</mat-grid-list>

<a routerLink="/contacts/create">Create contact</a>