form {
    width: 320px;
}

.form-text-entry {
    margin-bottom: 10px;
}

.form-array-entry {
    margin-bottom: 50px;
}

.mat-form-field {
    display: inline-block;
    width: 270px;
}

.form-array--add-btn {
    padding: 0px 11px;
}

.form-array--heading {
    margin-bottom: 12px;
}

.form-array--field {
    margin-top: -15px;
    margin-bottom: -8px;
}

.form-last-btn {
    margin-top: 35px;
} 

/* .form-element {
    display: block;
    margin-bottom: 8px;
}

.form-element-label {
    display: inline-block;
    width: 80px;
}

.form-element-input {
    display: inline-block;
    padding: 1px 5px;
    margin-left: 8px;
    width: 260px;
}

.form-array-element {
    margin-bottom: 35px;
}

.form-element-array-input {
    margin-left: 88px;
}

.form-element-array-input-item {
    margin-bottom: 8px;
    padding: 1px 5px;
    width: 260px;
}

.form-btn {
    position: absolute;
    right: 0px;
}

.form-save-btn {
    margin-top: 35px;
} */