<form [formGroup]="form">
    
    <div class="form-text-entry">
        <mat-form-field>
            <input matInput placeholder="First name" formControlName="firstName"
                readonly="{{mode == 'Readonly'}}"/>
        </mat-form-field>
    </div>

    <div class="form-text-entry">
        <mat-form-field>
            <input matInput placeholder="Last name" formControlName="lastName"
                readonly="{{mode == 'Readonly'}}"/>
        </mat-form-field>
    </div>

    <div class="form-text-entry">
        <mat-form-field class="example-chip-list">
            <div *ngIf="mode == 'Readonly'">
                <h6 class="form-array--heading">Tags:</h6>
            </div>
            <mat-chip-list #chipList>
                <mat-chip *ngFor="let t of tags;" [removable]="removable">
                    {{t.value}}       
                    <div *ngIf="mode != 'Readonly'">             
                        <mat-icon matChipRemove (click)="removeTag(t.value)">cancel</mat-icon>
                    </div>
                </mat-chip>
                <div *ngIf="mode != 'Readonly'"> 
                    <input placeholder="Tags"
                        [matChipInputFor]="chipList"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                        [matChipInputAddOnBlur]="addOnBlur"
                        (matChipInputTokenEnd)="addTag($event)">
                </div>
            </mat-chip-list>
        </mat-form-field>
    </div>

    <div class="form-array-entry">
        <h6 class="form-array--heading">Emails:</h6>
        <div class="form-array--body">
            <div formArrayName="emails" class="form-array">
                <div *ngFor="let e of emails; let i=index" [formGroupName]="i">
                    <mat-form-field class="form-array--field">
                        <input [formControlName]="value" matInput readonly="{{mode == 'Readonly'}}"/>
                    </mat-form-field>
                </div>
            </div>
            <div *ngIf="mode != 'Readonly'"> 
                <button 
                    mat-raised-button
                    color="primary" 
                    (click)="addEmail()" 
                    class="form-array--add-btn">
                    Add email
                </button>
            </div>
        </div>
    </div>

    <div class="form-array-entry">
        <h6 class="form-array--heading">Phone numbers:</h6>
        <div class="form-array--body">
            <div formArrayName="phoneNumbers" class="form-array">
                <div *ngFor="let e of phoneNumbers; let i=index">
                    <mat-form-field class="form-array--field">
                        <input [formControlName]="value" matInput readonly="{{mode == 'Readonly'}}"/>
                    </mat-form-field>
                </div>        
            </div>
            <div *ngIf="mode != 'Readonly'"> 
                <button 
                mat-raised-button 
                    color="primary" 
                    (click)="addPhoneNumber()" 
                    class="form-array--add-btn">
                    Add phone number
                </button>
            </div>
        </div>
    </div>
    
    <div *ngIf="mode != 'Readonly'"> 
        <button 
            mat-raised-button
            color="primary"
            (click)="triggerWantsToFinishEditing()"
            class="form-last-btn">
            Save
        </button>   
    </div>      
    
    <div *ngIf="mode == 'Readonly'"> 
        <button 
            mat-raised-button
            color="primary"
            (click)="triggerWantsToEdit()"
            class="form-last-btn">
            Edit
        </button>   
    </div>     

</form>