form {
    width: 320px;
}

.form-text-entry {
    margin-bottom: 10px;
}

.form-array-entry {
    margin-bottom: 50px;
}

.mat-form-field {
    display: inline-block;
    width: 270px;
}

.form-array--add-btn {
    padding: 0px 11px;
}

.form-array--heading {
    margin-bottom: 12px;
}

.form-array--field {
    margin-top: -15px;
    margin-bottom: -8px;
}

.form-last-btn {
    margin-top: 35px;
} 