form {
    width: 320px;
    position: relative;
}

.form-text-entry {
    margin-bottom: 10px;
}

.form-array-entry {
    margin-bottom: 50px;
}

.mat-form-field {
    display: inline-block;
    width: 270px;
}

.form-array--add-btn {
    padding: 0px 11px;
    position: absolute;
    right: 20px;
}

.form-array--heading {
    margin-bottom: 12px;
}

.form-array--field {
    margin-top: -15px;
    margin-bottom: -8px;
}

.form-edit-btn {
    padding: 0px 11px;
    margin-top: 5px;
    position: absolute;
    right: 50px;
}

.form-save-btn {
    padding: 0px 11px;
    margin-top: 35px;
    position: absolute;
    right: 20px;
}