<form [formGroup]="form">
    
    <div class="form-text-entry">
        <mat-form-field>
            <input matInput placeholder="First name" formControlName="firstName"/>
        </mat-form-field>
    </div>

    <div class="form-text-entry">
        <mat-form-field>
            <input matInput placeholder="Last name" formControlName="lastName"/>
        </mat-form-field>
    </div>

    <div class="form-array-entry">
        <h6 class="form-array--heading">Emails:</h6>
        <div class="form-array--body">
            <div formArrayName="emails" class="form-array">
                <div *ngFor="let e of getArray('emails'); let i=index">
                    <mat-form-field class="form-array--field">
                        <input [formControlName]="i" matInput/>
                    </mat-form-field>
                </div>
            </div>
            <button 
                mat-raised-button
                color="primary" 
                (click)="pushToArray('emails')" 
                class="form-array--add-btn">
                Add email
            </button>
        </div>
    </div>
    
    <div class="form-array-entry">
        <h6 class="form-array--heading">Tags:</h6>
        <div class="form-array--body">
            <div formArrayName="tags">
                <div *ngFor="let e of getArray('tags'); let i=index">
                    <mat-form-field class="form-array--field">
                        <input [formControlName]="i" matInput/>
                    </mat-form-field>
                </div>        
            </div>
            <button 
                mat-raised-button
                color="primary" 
                (click)="pushToArray('tags')" 
                class="form-array--add-btn">
                Add tag
            </button>
        </div>
    </div>

    <div class="form-array-entry">
        <h6 class="form-array--heading">Phone numbers:</h6>
        <div class="form-array--body">
            <div formArrayName="phoneNumbers" class="form-array">
                <div *ngFor="let e of getArray('phoneNumbers'); let i=index">
                    <mat-form-field class="form-array--field">
                        <input [formControlName]="i" matInput/>
                    </mat-form-field>
                </div>        
            </div>
            <button 
            mat-raised-button 
                color="primary" 
                (click)="pushToArray('phoneNumbers')" 
                class="form-array--add-btn">
                Add phone number
            </button>
        </div>
    </div>
    
    <button 
        mat-raised-button
        color="primary"
        (click)="triggerWantsToFinishEditing()"
        class="form-save-btn">
        Save
    </button>            

</form>