form {
    position: relative;
}

.form-entry {
    margin-bottom: 10px;
}

.mat-form-field {
    display: block;
}

.form-submit-btn {  
    position: absolute;
    right: 0px;
}

.heading {
    color: darkblue;
    display: inline-block;
    padding-bottom: 5px;
    margin-bottom: 20px;
    border-bottom: 1px solid;
}